.text-overflow
	white-space nowrap
	text-overflow ellipsis
	overflow hidden
.search .main .right .panel .panel-body ul li span i
	font-style normal
.search .main .right .panel .panel-body
	img
		padding 15px
		width 100%
	a.btn
		display block
		width 40%
		margin 0 auto 15px
		text-align center
		max-width 125px
		font-size 14px
		color #fff
		background #128bed
		line-height 24px
		border-radius 5px
.add-header-12-28
	font-size 12px
	color #000
	line-height 30px
	background #f6f6f6
	.bgffff
		margin-top 30px
		background #fff
		padding 15px
	.pic
		img
			display block
			width 100%
			max-width 130px
			margin 0 auto
			border 1px solid #f5f5f5
	.tips
		padding-top 15px
		line-height 1
		font-size 14px
		color #2C7CE8
		text-align center
	.name
		padding 20px 0
		font-size 20px
		color #000
		line-height 1.5
		span
			border 1px solid #009944
			border-radius 5px
			color #094
			font-size 14px
			padding 5px
			margin-left 10px
			position relative
			top -2px
	.add-label
		color gray
		font-style normal
	.dynamic
		padding 0 10px
		display inline-block
		background #eaf2ff
	.btn-group
		display block
		a
			margin-top 20px
			display block
			border 1px solid #2D8FED
			max-width 75px
			height 30px
			text-align center
			color #2D8FED
			border-radius 3px
			text-decoration none
			font-size 0
			@media(max-width 767px)
				display inline-block
				padding 0 10px
				max-width inherit
				margin 0 10px
			&:hover
				color #fff
				background #2D8FED
				i
					background-position -48px -24px
					&.bg1
						background-position -72px -24px
			i
				display inline-block
				width 24px
				height 24px
				vertical-align middle
				background url(../img/icon_ca11.png) 0 0 no-repeat
				background-position -47px 0px
				&.bg1
					background-position -72px 0px
			span
				display inline-block
				font-size 14px
				line-height 28px
				vertical-align top
				padding-left 5px
	h3
		font-size 14px
		color #646464
		line-height 1
		padding-bottom 10px
		margin 0
		@media(max-width 991px)
			padding-top 15px
	.chart
		width 100%
		height 95px
	
	.add-info
		span
			font-size 14px
			color #999
			&+span
				padding-left 10px


.add-main-12-28
	.left
		.tabs-control
			font-size 14px
			color #4A4949
			line-height 40px
			background #FCFCFD
			border-top 1px solid #EFF2F5
			span
				padding 0 4%
				max-width 25%
				box-sizing border-box
				float left
				background #fcfcfd
				transition 0.3s
				cursor pointer
				&+span
					border-left 1px solid #EFF2F5
				&:hover
				&.active
					background #fff
		.tabs-wrap
			padding 0 15px
			margin-top 10px
			background #fff
			.tabs-item
				overflow hidden
			h3
				margin-top -5px
				padding 40px 0 20px
				font-size 14px
				color #000
				margin 0
				font-weight bold
				.number
					display inline-block
					margin-left 10px
					padding 5px 10px
					border-radius 50%
					font-size 12px
					color #fff
					background #b0bcd4
			.base-info
				padding 30px 15px
				border 1px solid #E4EEF6
				p
					font-size 14px
					color #555555
					line-height 26px
					margin 0
					&+p
						padding-top 15px
			.table
				width 100%
				overflow auto
				.mt20
					margin-top 20px
				table
					width 100%
					min-width 700px
					tr,th,td
						padding 10px
						font-size 14px
						color #000
						line-height 24px
						font-weight normal
						border 1px solid #E6EFF7
						&.bgF2F9FC
							background #F2F9FC
						.orange
							color orange
						.red
							color red
						.fwb
							font-weight bold
						table
							min-width inherit
							tr,td,th
								border none
						a.btn
							width 105px
							height 40px
							line-height 40px
							text-align center
							background #128bed
							color #fff
							padding 0
						.tips
							margin-left 10px
							padding 5px 10px
							background #f5a623
							font-size 12px
							color #fff
							border-radius 10px 0/10px 0
			.dontai-list
				border-top 1px solid #E4EEF6
				.item
					border 1px solid #E4EEF6
					border-top none
					padding 15px 0 10px
					.pic
						padding-bottom 10px
						img
							display block
							max-width 170px
							width 100%
							margin 0 auto
					h4
						font-size 18px
						color #000
						padding-bottom 10px
						margin 0
					.author
						padding 10px 0
						padding-left 30px
						font-size 14px
						color #2C90ED
						background url(../img/hico22.png) left center/auto 16px no-repeat
						.time
							color #ABABAB
					p
						margin 0
						font-size 12px
						color #666
						line-height 2
			.analysis
				padding 15px 0
				border 1px solid #E4EEF6
				.pic
					img
						display block
						width 100%
				p
					font-size 14px
					color #000
					margin 0
					padding 10px 0 0
					line-height 1.5
				textarea
					border none
					outline none
					width 100%
					height 300px
					resize vertical
					
